<p id="notice"><%= notice %></p>

<%= @item.user.email %>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @item.condition %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @item.image %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @item.street_address %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
