<p id="notice"><%= notice %></p>

<p>
  <h1 class="titlefont"><%= @item.name.upcase %></h1>
</p>

<hr>

<div class="panel col-md-12">

    <div class="panel-body">
      <div class="col-md-6">
        <h3><%= number_to_currency @item.price %></h3>

        <h3><strong>CATEGORY:</strong>
        <%= @item.name.upcase %></h3>
        <h3><strong>CONDITION:</strong>
        <%= @item.condition.upcase %></h3>
        <h3><strong>DESCRIPTION:</strong>
        <%= @item.description.upcase %></h3>
        <h3><strong>STREET ADDRESS:</strong>
          <%= @item.street_address.upcase %></h3>
          <div>
            <a class="seller" href="<% @item.user.email %>">CONTACT SELLER</a>
          </div>
      </div>

      <div class="col-md-6">
        <%= image_tag @item.image.url, class: "itemshow" %>
      </div>
      
    </div>
</div>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
