<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<b>Things for sale!</b>

<ul>
	<% @category.items.each do |item| %>
	<li><img src=" <%=item.image%>"> <%= item.name %></li>
	<li>$<%= item.price%></li>
	<% end %>
</ul>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>




