<p id="notice"><%= notice %></p>

<p>
  <h1 class="titlefont"><%= @category.name.upcase %></h1>
</p>

<hr>

<div class="row">
	<% @category.items.each do |item| %>
	<div class="panel col-md-3">
		<div class="panel-heading">
			<h3><%= item.name.upcase %></h3>
			<%= number_to_currency item.price %>
		</div>
		<div class="panel-body">
			<img src=" <%=item.image %>" class= "itempic">
			<p><b>CONDITION: </b><%= item.condition.upcase %></p>
			<p><strong>DESCRIPTION: </strong><%= item.description.upcase %></p>
			<p><strong>STREET ADDRESS: </strong><%= item.street_address.upcase %></p>
			<p><strong>CREATED AT: </strong><%= item.created_at %></p>
		</div>
		
	</div>
	<% end %>
</div>
	




<div>
	<%= link_to 'Back', categories_path %>
</div>





